<h3 class="header">Contact Us</h3>

<p>Opening Times: 9am - 5pm</p>
<p>Currently <%= @open_status %></p>
<br />
<p>Phone: 0141 112233 </p>
<p>Email: animal.shelter@shelter.org</p>
<p>Mail: 123 Animal Shelter, Glasgow, G2 3IT</p>
