<h3 class="header">Frequently Asked Questions</h3>

<ul>
	<li>How do I join the waiting list?</li>
</ul>
<p>I don't know</p>
<ul>
	<li>How do I become a volunteer?</li>
</ul>
<p>Don't ask me</p>
<ul>
	<li>How do I contact you?</li>
</ul>
<p>Please don't</p>
<ul>
	<li>When are you open?</li>
</ul>
<p>When you're not around</p>
<ul>
	<li>Where are you located?</li>
</ul>
<p>The middle of nowhere</p>
