<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/style.css">
	<title>Animal Shelter</title>
</head>
<body>
	<div class="container">
		<nav>
			<ul class="nav">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About Us</a></li>
				<li><a href="/adopt">Adopt</a></li>
				<li><a href="/waiting">Waiting List</a></li>
			</ul>
		</nav>

		<div class="content">
			<main class="parent">
				<%= yield %>
			</main>
		</div>

			<footer class="footer">
				<ul class="nav">
					<li><a href="/faq">FAQ</a></li>
					<li><a href="/contact">Contact Us</a></li>
					<li><a href="/donate">Donate</a></li>
					<li><a href="/volunteer">Volunteer Login</a></li>
				</ul>
			</footer>
	</div>

</body>
</html>
