<form action="/adopt/filtered" method="POST">
	<select name="type">
		<option selected disbaled value="">Type</option>
		<option value="Dog">Dog</option>
		<option value="Cat">Cat</option>
	</select>
	<select name="breed">
		<option selected disbaled value="">Breed</option>
		<option value="border_collie">Border Collie</option>
		<option value="husky">Husky</option>
	</select>
	<select name="trained">
		<option selected disbaled value="">Trained</option>
		<option value="yes">Yes</option>
		<option value="no">No</option>
	</select>
	<select name="sort">
		<option selected disbaled value="">Sort</option>
		<option value="type">Type</option>
		<option value="name">Name</option>
		<option value="trained">Trained</option>
		<option value="admission_date">Admission Date</option>
	</select>
	<input type="submit" value="Filter">
</form>

<div class="gallery">
	<% for pet in @pets %>
		<div class="individual">
			<div class="petimg">

			</div>
			<br />
			<p>Name: <%= pet.name%></p>
			<p>Breed: <%= pet.breed%></p>
			<p>Trained: <%= pet.trained%></p>
			<p>Admission Date: <%= pet.admission_date%></p>
			<br />
		</div>
	<% end %>
</div>
