body {
	background-color: #41B3A3;
}

nav {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100px;
	background-color: #E27D60;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row;
	width: 100%;
}

nav li {
	width: 25%;
	display: flex;
	justify-content: center;
	align-self: center;
}

a {
	color: white;
	text-decoration: none;
}

footer {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 50px;
	background-color: #E8A87C;
}

footer li {
	width: 33%;
	display: flex;
	justify-content: center;
	align-self: center;
}

.img {
	display: flex;
	align-content: center;
	justify-content: center;
}

.img > div {
	align-self: center;
	color: white;
	font-family: sans-serif;
	margin: 2.3% 5%;
	flex-flow: column;
}

.img > img {
	width: 500px;
  height: 500px;
  margin: 2.3% 5%;
  border: 3px solid #085DCB;
}
