<h3 class="header">Adoption Process</h3>
<br />
<br />

<h5><%= @pet.name %></h5>

<p>Initial Interview: </p>
<p>Initial Interview Date: </p>
<p>Meet And Greet:</p>
<p>Meet And Greet Date: </p>
<p>Home Visit:</p>
<p>Home Visit Date: </p>
<p>Vet Check: </p>
<p>Vet Check Date: </p>
<p>Take Home: </p>
<p>Take Home Date: </p>
