<div class="tables">
	<table class="show">
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Admission Date</th>
		</tr>

		<% for pet in @pets %>
			<tr>
				<td><%= pet.name %></td>
				<td><%= pet.breed %></td>
				<td><%= pet.admission_date %></td>
				<td id="hidetable"><form action="/volunteer/animal/<%= pet.animal_id %>/edit" method="GET">
					<input type="submit" value="Edit Pet">
				</form></td>
			</tr>

		<% end %>

	</table>
</div>
